.container {
    max-width: 100vw;
    padding: 0;
}

.section {
    margin-bottom: 20px;
}

.row {
    border: 0.5px solid white;
    color: white;
}

[class*="col-"] {
    padding: 10px;

    height: 40px;
    text-align: center;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    background-color: #006CFA;
}

.nested > [class*="col-"] {
    height: 100%;
    padding: 10px;
}

.internal.row {
    border: 0;
}

.internal.row * {
    border: 0.5px solid #006CFA;
    background-color: #00E165;
}

.row.height {
    height: 100px;
}

.row.height div:nth-child(1) {
    height: 100%;
}