.container {
    max-width: 100vw;
    padding: 0;
}

.section {
    margin-bottom: 20px;
}

.row {
    border: 0.5px solid white;
    color: white;
}

[class*="col-"] {

    padding: 10px;

    text-align: center;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    background-color: #006CFA;
}

.internal.row {
    border: 0;
}

.internal.row * {
    border: 0.5px solid #006CFA;

    background-color: #00E165;
}



/* Regole Comuni */
